.boards-container{
    display: flex;
    gap: 30px
}

.board{
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    border: solid red;
}

.cell{
    border: solid black
}

.ship{
    background-color: blue;
}

.hit{
    background-color: red;
}

.hit.ship{
    background-color: blueviolet;
}

.sunk{
    background-color: gray !important;
}