.boards-container{
    display: flex;
    gap: 30px
}

.board{
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    border: solid red;
}

.cell{
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship{
    background-color: green;
}

.hit{
    background-color: yellow;
}

.hit.ship{
    background-color: red;
}

.hit.ship:after{
    content: 'X'
}

.sunk{
    background-color: gray !important;
}
